<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('安置管理列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            角色名称：<input type="text" name="roleName"/>
                        </li>

                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" >
                <i class="fa fa-plus"></i> 新增
            </a>
            <!--<a class="btn btn-primary single disabled" onclick="edit()" >
                <i class="fa fa-edit"></i> 修改
            </a>-->
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "Bimenclosure";


    $(function() {
        var options = {
            url: prefix + "/list",
            columns: [{
                checkbox: true
            },
                {
                    field: 'y_coordinates',
                    title: '经度值'
                },
                {
                    field: 'x_coordinates',
                    title: '纬度值',
                    sortable: true
                },
                {
                    field: 'h_coordinates',
                    title: '高度',
                    sortable: true
                },
                {
                    field: 'pic_url',
                    title: '图片',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return "<img src=" + value + " width = \"200\" height = \"180\"/>";
                    }
                },
                {
                    field: 'up_time',
                    title: '更新时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    function add(){
        window.location.href = prefix+"/add";
    }
</script>
</body>
</html>